<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- Footer -->
<footer style="background: #d7d7d7 ; " class="page-footer fontsmall black" th:fragment="footer">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 px-3" >
        Курсовой проект © 2024 Copyright:
        <a href="https://example.com/"> example.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- /Footer -->
</body>
</html>