<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-light bg-primary" th:fragment="header">
    <div class="container-fluid">
        <a href="/product/laptop">
            <h4 style="color:black;">Ноутбуки</h4></a>
        <a href="/product/printer">
            <h4 style="color:black;">Принтеры</h4>
        </a>
        <a href="/product/personal-computer">
            <h4 style="color:black;">Персональные компьютеры</h4>
        </a>

        <a href="/product">
            <img alt="Логотип" id="top-image" src="images/logo64.png">
        </a>
    </div>
</nav>
<!-- /Header -->
</body>
</html>